/* DEFAULT THEME */

/*

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}gt
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

/*
div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
*/

.cm-s-github .cm-keyword {color: #a71d5d;}    /* clojure core forms */
.cm-s-github .cm-builtin {color: #a71d5d;}    /* clojure core library */
.cm-s-github .cm-string {color: #183691;}     /* clojure strings */
.cm-s-github .cm-variable {color: #333;}      /* clojure misc symbols */
.cm-s-github .cm-def {color: #795da3;}        /* clojure function calls or defs */
.cm-s-github .cm-atom {color: #0086b3;}       /* clojure keyword, bool, nil */
.cm-s-github .cm-number {color: #0086b3;}     /* clojure number */
.cm-s-github .cm-bracket {color: #333;}       /* clojure brackets */
.cm-s-github .cm-comment {color: #969896; font-style: italic;}    /* clojure comment */

div.CodeMirror span.CodeMirror-matchingbracket {
  background: #e8f2ff;
  color: inherit;
  border-bottom: 1px solid #111;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
}

/* don't change selection color based on an editor's focus status. */
.CodeMirror-selected { background:  #d7d4f0; /* #d9d9d9 */}
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }

