* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, freesans, sans-serif;
  color: #555;
  background: #F7F7F7;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  width: 750px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin-top:0;
  margin-bottom: 20px;
  position: relative;
}

h1 {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 200;
  display: inline-block;
}

h1 em {
  text-decoration: none;
  font-style: normal;
  opacity: 0.3;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #555;
}

.subtitle a {
  opacity: 0.5;
  color: #333;
  border-bottom: 0;
}

.features {
  color: #888;
  list-style-type: square;
}

a {
  border-bottom: 1px solid #CC3385;
  color: #CC3385;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

p, li {
  line-height: 1.7em;
  color: #555;
}

code {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 16px;
}

.CodeMirror {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  background: #FEFEFE;
  border: 1px solid #EEE;
  padding: 5px;
}

.cm-bracket.cm-eol {
  opacity: 0.4;
}

.two-col {
}

.col {
  float:left;
  width: 350px;
  margin-right: 10px;
}

.two-col:after {
  content:'';
  display:block;
  clear: both;
}

p.centered
{
  text-align: center;
}

blockquote.aside {
  border-left: 5px solid #ddd;
  margin: 0;
  margin-top: 60px;
  padding-left: 20px;
  opacity: 0.8;
}

.side-point
{
  font-style: italic;
  color: #BBB;
}

td .side-point
{
  margin-top:5px;
}

.warning
{
  padding: 20px;
  border-radius: 5px;
  background: #FFFF7B;
}

.warning-title
{
  font-weight: bold;
  margin-bottom: 10px;
}

.warning-body
{
  margin-left: 34px;
  color: #333;
}

.green
{
  color: #63CA63;
}

.red
{
  color: #E84545;
}

.question
{
  font-weight: bold;
}

.question i.fa
{
  color: #5380C7;
}

.answer
{
  margin-left: 22px;
}

i.fa {
  margin-right: 5px;
}

#cm-code-editor {
  height: auto;
  float: left;
  width: 50%;
}

.only-mobile {
  display: none;
}

.editor-header {
}

select.mode {
  margin-right: 10px;
}

label.user-option {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 14px;
}

label.user-option input {
  margin-right: 10px;
}

label.calc-option {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  text-align: right;
}

span.calc-option {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  opacity: 0.7;
}

.status {
  padding: 12px;
}

.status.success {
  background-color: #D4F7D7;
}

.status.error {
  background-color: #FFD5D5;
}

.status .status-name {
  display: inline-block;
  margin: 0 10px;
}

.status .status-msg {
  display: inline-block;
}

.help-caption {
  padding: 10px;
  color: #aaa;
  font-size: 14px;
}

.help-caption em {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
  font-style: normal;
  color: #777;
}

#editor-footer {
  margin-top: 10px;
}

.CodeMirror-focused {
  border-color: #CCC;
}
