pom.xml
pom.xml.asc
*jar
classes/
out/
target/
.lein-deps-sum
.lein-repl-history
.lein-failures
.lein-plugins/
.repl
.nrepl-port
*.swp
figwheel_server.log

*.diff
todo

node_modules

.idea
parinfer.iml
lib/wallaby.js
