
body {
  font-family: "Open Sans", Arial, freesans, sans-serif;
  background: #F7F7F7;
}

#controls {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 64px;
  text-align: center;
  font-weight: 200;
  margin: 100px 0 0;
}

h1 em {
  text-decoration: none;
  font-style: normal;
  opacity: 0.5;
}

h2 {
  margin-top: 50px;
  border-top: 1px solid #dedede;
  padding-top: 20px;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
}

.subtitle em {
  color: #111;
  border-bottom: 1px solid #111;
}

.features {
  width: 470px;
  margin: 0px auto 50px;
  color: #888;
  list-style-position: inside;
  list-style-type: square;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #CC3385;
}

p, li {
  line-height: 1.7em;
  color: #555;
}

.wrapper {
  width: 720px;
  margin: 0 auto;
}

.caption {
  padding-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-style: italic;
  opacity: 0.5;
}

code {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 16px;
}

.CodeMirror {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  background: #FEFEFE;
  border: 1px solid #EEE;
  padding: 5px;
  margin-bottom: 20px;
}

.cm-bracket.cm-trailing {
  opacity: 0.4;
}

.two-col {
}

.col {
  float:left;
  width: 350px;
  margin-right: 10px;
}

.two-col:after {
  content:'';
  display:block;
  clear: both;
}

#cm-code-intro {
  height: 200px;
}

#cm-code-lisp-style,
#cm-code-c-style
{
  height: 160px;
}

#cm-code-skim,
#cm-code-inspect
{
  height: 90px;
}

#cm-code-skim span.cm-bracket
{
  opacity: 0.15;
  color: #000;
}

#cm-code-inspect span.cm-keyword,
#cm-code-inspect span.cm-variable,
#cm-code-inspect span.cm-builtin,
#cm-code-inspect span.cm-string
{
  opacity: 0.15;
  color: #000;
}

#cm-code-inspect
.CodeMirror-matchingbracket {
  background: #E6EFFD;
  color: inherit;
  border-bottom: 1px solid #111;
}

#cm-code-idea-nest,
#cm-code-idea-wide-nest
{
  height: 70px;
}

#cm-code-idea-deep-nest
{
  height: 130px;
}

#cm-code-idea-insert-delete
{
  height: 130px;
}

#cm-code-cue-dim
{
  height: 50px;
}

#cm-code-cue-block
{
  height: 90px;
}
