/* some style */

* {
  font-size: 16px;
}

textarea {
  font-family: monospace;
  width: 300px;
  height: 200px;
  float: left;
  padding: 20px;
  background: #eee;
  border: 0px;
}

pre.internal {
  margin: 20px;
  width: 300px;
  float: left;
  color: #555;
}

pre.computed {
  margin: 20px;
  width: 300px;
  float: left;
}

